@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400&display=swap');

/* Colors */
:root {
    --first: #0b6623;
    --background: #26262b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    outline-color: var(--first);
}

/* Layout */
.container {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--background);
}

/* Navbar */

nav {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid var(--first);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    color: var(--first);
    text-decoration: none;
    font-size: 3rem;
    transition: 0.3s;
}

.header ul {
    list-style-type: none;

    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.25rem;
}

.header ul li a {
    text-decoration: none;
    color: var(--first);
    transition: 0.3s;
}

.header ul li a:hover {
    text-decoration: none;
    color: #10862f;
}

/* Main / Chat Container */

main {
    flex: 2;
}

#chat-container {
    display: grid;
    width: 100%;
    height: 100%;
    max-height: 88vh;
    background-color: var(--first);
    grid-template-columns: 1fr;
    grid-template-rows: 95% 5%;
    grid-template-areas:
        'chatSection'
        'chatForm';
}

/* Chat List */

#chat-list {
    grid-area: chatList;
    background-color: var(--background);
    overflow-y: auto;
    display: flex;
    justify-content: space-around;
    padding: 0.75rem 0;
    text-align: center;
    max-height: 100%;
    border-bottom: 1px solid var(--first);
    overflow-x: hidden;
}

#chat-list h2 {
    font-size: 2rem;
    color: var(--first);
}

#room {
    width: 50%;
}

#room h3 {
    font-size: 2rem;
    margin-top: 0.75rem;
    text-transform: uppercase;
    color: #fff;
}

#room-users {
    width: 50%;
}

#room-users ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin-top: 0.75rem;
    font-size: 1.2rem;
    color: #fff;
}

/* Chat Board/Section */
#chat-section {
    grid-area: chatSection;
    background-color: #2f2f35;
    overflow-y: auto;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
}

.message {
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 15px;
    background-color: #fff;
}

.message:first-child {
    margin-top: 0;
}

.message-details {
    margin-bottom: 0.35rem;
    color: #0d7729;
}

/* Chat input/form */
#chat-form {
    grid-area: chatForm;
    background-color: #fff;
    display: flex;
}

#messageText {
    height: 100%;
    width: 90%;
    padding: 0 1rem;
    max-height: 5vh;
    border: none;
    flex: 4;
    border-top: 1px solid var(--background);
    border-bottom: 1px solid var(--background);
    font-size: 1.25rem;
}

button[type='submit'] {
    flex: 1;
    border: none;
    background-color: var(--first);
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    border-top: 1px solid var(--background);
    border-bottom: 1px solid var(--background);
    font-size: 1.25rem;
}

button[type='submit']:hover {
    background-color: #0a531d;
}

/* Join Room */
.joinroom-form {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.joinroom-form label {
    display: block;
    width: 80%;
    margin: 0 auto;
    text-transform: uppercase;
    color: var(--first);
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 0.1rem;
}

.joinroom-form input {
    width: 80%;
    display: block;
    margin: 0 auto;
    border: none;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 1.25rem;
}

.joinroom-form select {
    width: 80%;
    display: block;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 1.25rem;
    cursor: pointer;
    margin: 0 auto;
}

.form-control {
    width: 100%;
    margin-bottom: 1rem;
}
/* Footer */

footer {
    padding: 0.5rem;
    color: var(--first);
}

.active-page {
    display: none;
}

#rooms {
    margin-bottom: 1rem;
}

#joinRoom {
    text-decoration: none;
    font-size: 2rem;
    background-color: var(--first);
    padding: 0.4rem 1.9rem;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--background);
    border: 4px solid var(--first);
    transition: 0.7s;
}

#joinRoom:hover {
    border: 4px solid #fff;
    color: #fff;
}

/* Media Queries */
@media screen and (min-width: 1000px) {
    #chat-container {
        grid-template-columns: 1fr;
        grid-template-rows: 95% 5%;
        grid-template-areas:
            'chatSection'
            'chatForm';
    }

    #chat-section {
        max-height: 95vh;
    }

    /* Join room */

    .joinroom-form label {
        width: 50%;
        margin-bottom: 0.1rem;
    }

    .joinroom-form input {
        width: 50%;
        font-size: 1.25rem;
    }

    .joinroom-form select {
        width: 50%;
    }
}
