@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400&display=swap');

/* Colors */
:root {
    --first: #0b6623;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

/* Layout */
.container {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #999;
}

/* Navbar */

nav {
    padding: 1rem;
    background-color: var(--first);
}

.header h1 a {
    color: #fff;
    text-decoration: none;
    font-size: 3rem;
}

/* Main / Chat Container */

main {
    flex: 2;
    display: flex;
    align-items: center;
}

#chat-container {
    display: grid;
    width: 100%;
    height: 780px;
    background-color: var(--first);
    grid-template-columns: 25% auto;
    grid-template-rows: 90% auto;
    margin: 1rem 0;
    grid-template-areas:
        'chatList chatSection'
        'chatForm chatForm';
}

#chat-list {
    grid-area: chatList;
    background-color: #123;
}

#chat-section {
    grid-area: chatSection;
    background-color: #432;
}

#chat-form {
    grid-area: chatForm;
    background-color: #fff;
}

/* Footer */

footer {
    padding: 1rem;
    background-color: var(--first);
    color: #fff;
}
